:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
html {
  height: 100%;
}

body {
  background-color: #026AA7;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  position: relative;
  height: 100%;
}

.board {
  background-color: #026AA7;
  padding: 0.5rem 0;
}
.board__heading {
  font-size: larger;
  font-weight: bold;
  padding: 16px 0.5rem;
  color: white;
}
.board__body {
  white-space: nowrap;
  width: 100%;
  min-height: 92vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.button-faded {
  background-color: #4c9aff;
  padding: 0.5rem;
  color: white;
  border: none;
}

.button-basic {
  background-color: grey;
  padding: 0.5rem;
  color: white;
  border: none;
}

.form-toggle {
  display: inline-block;
  align-items: start;
}
.form-toggle__button--open-form {
  display: inline-block;
  min-width: 200px;
  text-align: left;
  font-size: 0.9rem;
  border-radius: 3px;
  margin-left: 0.5rem;
  cursor: pointer;
}

.form-inline {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  background-color: white;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.2rem;
}
.form-inline__input--text-short {
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
}
.form-inline__input--text-short:focus {
  border: 2px solid #0079bf;
}
.form-inline__input--text-long {
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 0.2rem;
  padding: 0.2rem;
  font-family: "Inter", sans-serif;
  width: 100%;
}
.form-inline__buttons {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.form-inline__button-save {
  background-color: #0079bf;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.form-inline__button-cancel {
  background: transparent;
  font-size: x-large;
  transform: rotateY(0deg) rotate(45deg);
  border: none;
  width: 2rem;
  height: 2rem;
  color: #2d3748;
  margin-left: 0.5rem;
  cursor: pointer;
}

.column-wrapper {
  display: inline-block;
  background-color: #ebecf0;
  width: 272px;
  height: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0.5rem;
  margin-left: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 85vh;
}
.column__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.column__header--text {
  white-space: pre-wrap;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.column__header--button-delete {
  transform: rotateY(0deg) rotate(45deg);
  transition: transform 2s;
  border: none;
  padding: 2px;
  font-size: larger;
  cursor: pointer;
  background: transparent;
}
.column__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 0.5rem;
  min-height: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}
.column__footer--button-add {
  width: 100%;
  border: none;
  text-align: left;
  background: transparent;
  cursor: pointer;
  font-size: 0.9rem;
  color: #4a5568;
}

.card {
  background-color: #ffffff;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  white-space: initial;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.2509803922);
}
.card:hover {
  background-color: #F3F4F6;
}

.db-export {
  position: absolute;
  bottom: 5rem;
  right: 2rem;
}
.db-export__link {
  padding: 2rem;
  border-radius: 10rem;
  box-sizing: border-box;
  background-color: #4c9aff;
  color: #fff;
  text-decoration: none;
}
.db-export__link:hover {
  background-color: #E5E7EB;
  color: #000;
}

.modal {
  padding: 1rem;
  background-color: #f4f5f7;
  height: 100%;
}
.modal__heading {
  display: inline-block;
  margin-top: 0;
  color: #172b4d;
}
.modal__description--button-edit {
  background-color: #eaecef;
  padding: 0.5rem 1.5rem;
  border: none;
}
.modal__card--description-title {
  color: #172b4d;
}
.modal__body--details {
  background-color: #eaecef;
  padding: 0.5rem;
  border-radius: 3px;
}
